# Godot-specific ignores
.import/
export.cfg

# Mono-specific ignores
.mono/

# System/tool-specific ignores
.directory
*~

.vscode/
build/
/vendor/
/blender/
/\!dev
/packages/

#Paket dependency manager
.paket/**
!.paket/paket.bootstrapper.exe
paket-files/
